<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Currency Prices Prediction</title>
    </head>
    <body>
        <br>
        <form action="greet" method="post">
            {% for message in get_flashed_message()%}
                <p> {{prediction}}</p>
            {% endfor %}
            <br>
            <input type = "text" name="text_input">
            <br>
            <input type="submit" value= "Predict" id="greet">

         </form>
    </body>
</html>